html, body, #root {
    height: 100%;
}
.menu-wrapper{
    position: fixed;
    display: flex;
    align-items: center; 
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.menu-punkts{
    width: 300px;
    height: 600px;
    border: 5px solid #ff9900;
    background-color: #199CFF;
    color: white;
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
}
.menu-punkt{
    width: 160px;
    border: 3px solid #5e5373;
    font-size: large;
    color: #FF0DEB;
    background-color: #ff9900;
    margin-top: 10px;
    cursor: pointer;
}