html, body, #root {
    height: 100%;
}
.lifecreation-menu-wrapper{
    position: fixed;
    display: flex;
    align-items: center; 
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(127, 255, 212, 0.5);
    z-index: 90;
}
.lifecreation-menu-field{
    width: 80%;
    height: 80%;
    border-radius: 7%;
    background-color: rgb(127, 255, 212);
    color: white;
    flex-direction: column;
    display:flex;
}
.life-creation-menu-structure-lifeform{
    flex: 1 0 auto;
}
.life-creation-controlls{
    flex: 0 0 10%;
    padding: 0px 35%;
    display: flex;
    justify-content: space-between;
}
.lifecreation-menu-field-entity-btn{
    position: relative;
    width: 12%;
    border: 3px solid #5e5373;
    border-radius: 25%;
    font-size: large;
    color: #FF0DEB;
    background-color: #ff9900;
    margin-bottom: 10px;
    cursor: pointer;
}
.constructor-field{
    display: flex;
}
.constructor-details-menu{
    margin: 3%;
    flex: 0 0 20%;
    height: 100%;
    background-color: #5e5373;
    border: 3px solid #ff9900;
    border-radius: 15%;
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.constructor-view-wrapper{
    flex: 1 1 auto;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.constructor-detail-information{
    margin: 8%;
    height: 15%;
    width: 90%;
    background-color: #B299B7;
    padding: 10px 0 0 10px;
    border-radius: 6px;
}
.constructor-view{
    width: 80%;
    flex: 1 1 auto;
}
.constructor-view img {
    max-width: 100%;
    height: auto;
}
.constructor-details-menu-wrapper{
    margin: 15% 0 0 5%;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
    margin: 20% 5% 20% 0;
}

::-webkit-scrollbar-thumb {
    background-color: #B299B7; /* Цвет полосы прокрутки */
    border-radius: 4px; /* Радиус скругления углов полосы прокрутки */
}
.body-parts-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap; /* Добавьте это свойство */
}
.bar-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bar-item{
    margin-left: 5px;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border: 2px double #ff9900;
}
.bar-min-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}