.game__field{
    flex: 1 1 auto;
    position: relative;
    display: flex;
    // justify-content: space-between;
}
.info__panel{
    flex: 0 1 auto;
    margin-top: 120px;
    min-width: 200px;
    max-height: 600px;
    border: 2px solid yellow;
    border-radius: 4px;
}
.meteor__style{
    color: white;
    flex: 1 1 auto;
    display:flex;
    justify-content: center;
    align-items: center;
}